
.down { /* Feito para posicionar o texto do slider em baixo no centro */
    margin-top: 180px;
}

 /* Aumenta o tamanho do Link */
a.maior{
    font-size: 18px;
}

.conteudo{
    padding: 30px;
    margin-left: 500px;
}

p.medio{
    font-size: 20px;
}

.verde{
    background-color: #388e3c;
}